.mat-column-sexo {
  max-width: 35px;
  padding: 3px;
  text-align: center;
}

.mat-column-foneCelular {
  max-width: 350px;
  padding: 3px;
  text-align: center;
}

.mat-column-scores {
  max-width: 50px;
  padding: 3px;
  text-align: center;
}

.mat-column-Acao {
  max-width: 100px;
  padding: 5px;
  text-align: center;
}
.mat-column-enviado {
  max-width: 70px;
  padding: 3px;
  text-align: center;
}

.mat-column-status {
  max-width: 100px;
  padding: 3px;
  text-align: center;
}
.mat-column-renda {
  max-width: 100px;
  padding: 3px;
  text-align: center;
}

.mat-column-cpf {
  max-width: 100px;
  padding: 3px;
  text-align: center;
}
.mat-column-foneCelular {
  max-width: 100px;
  padding: 3px;
  text-align: center;
}

.mat-column-datacadastro {
  max-width: 100px;
  padding: 3px;
  text-align: center;
}
