.mat-column-sexo {
  max-width: 35px;
  padding: 3px;
}

.mat-column-renda {
  max-width: 100px;
  padding: 3px;
  text-align: right;
}

.mat-column-datacadastro {
  max-width: 100px;
  padding: 3px;
}

.mat-column-enviado {
  max-width: 100px;
  padding: 3px;
}

.mat-column-cpf {
  max-width: 150px;
  padding: 3px;
}

.mat-column-regional {
  max-width: 150px;
  padding: 3px;
}

.mat-column-Acao {
  max-width: 50px;
  padding: 3px;
}

fieldset {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.color-red {
  color: red;
  font-weight: bold;
}
