/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.estado {
  background-color: white; // #2e7d32;
  color: #0facbd; //, 100%white;
}

.is-uppercase {
  text-transform: uppercase !important;
}

fieldset {
  border-radius: 10px !important;
}

.container2 {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@import "app/app.component";
