.mat-column-Acao {
  max-width: 70px;
  padding: 5px;
}

.mat-column-id {
  max-width: 70px;
  padding: 5px;
  text-align: right;
}

.mat-column-domain_value {
  max-width: 70px;
  padding: 5px;
  text-align: right;
}

.mat-column-code {
  max-width: 100px;
  padding: 5px;
  text-align: right;
}
