ul li {
  list-style: none;
}

.mat-toolbar-row {
  height: 104px;
}

.linha {
  position: absolute;
  width: 100%;
  height: 0px;
  left: -13px;
  top: 102.75px;

  /* Botão */

  border: 1px solid #0facbd;
}
