<div fxLayout="row wrap">
  <div fxFlex>
    <section class="register-container">
      <img
        src="../../../assets/images/loginLogo.a7f9969.svg"
        width="250"
        class="is-hidden-mobile"
      />
      <h3 class="title">Não possui uma conta?</h3>
      <p>
        Criar uma conta garante a identificação de cada cidadão que acessa os
        serviços digitais do governo.
      </p>
      <label
        class="pointer"
        (click)="onCadastrar()"
        class="register-button is-uppercase"
        ><span class="material-icons"> person_add </span>
        crie uma conta
      </label>
      &nbsp;
      <label
        class="pointer"
        (click)="informarCodigo()"
        class="register-button is-uppercase"
        ><span class="material-icons"> launch </span> Informar / Solicitar
        Código de Confirmação </label
      >&nbsp;
      <label
        class="pointer"
        (click)="changePassword()"
        class="register-button is-uppercase"
        ><span class="material-icons"> swap_horiz </span>
        Trocar Senha
      </label>
      &nbsp;
      <label
        class="pointer"
        (click)="newPassword()"
        class="register-button is-uppercase"
        ><span class="material-icons"> swap_horiz </span>
        Solicitar nova Senha
      </label>
      &nbsp;
      <label
        class="pointer"
        (click)="faleConosco()"
        class="register-button is-uppercase"
        ><span class="material-icons"> email </span>
        Fale Conosco
      </label>
    </section>
  </div>
  <div fxFlex class="items-center">
    <div class="example-container" [formGroup]="formGroup">
      <mat-card class="example-card" style="height: 100% !important">
        <mat-card-header class="example-card" style="height: 60px">
          <span class="material-icons"> person </span>Fazer Login
          <br />
        </mat-card-header>
        <mat-card-content class="example-card">
          <div class="container">
            <mat-form-field>
              <input
                matInput
                type="email"
                formControlName="eMail"
                placeholder="Seu melhor e-mail"
                required
              />
            </mat-form-field>
          </div>
          <div class="container">
            <mat-form-field>
              <input
                matInput
                type="password"
                formControlName="password"
                placeholder="Sua senha"
                required
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <!--button mat-button (click)="onNoClick()">Cancelar</button-->
          <button mat-button (click)="onNoClick()">Enviar</button>
          <button mat-button *ngIf="local" matSuffix (click)="doTest()">
            Simular entrada via portal
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="container">
      <fieldset>
        <legend class="bold">Avisos e Notícias</legend>
        <li>Você já se cadastrou? Então aguarde o contato do Agente de Crédito. </li>
      </fieldset>
    </div>
  </div>
  
</div>
